html {
    overflow-x: hidden;
}


body{
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(222,209,141);
    background: linear-gradient(180deg, rgba(222,209,141,1) 0%, rgba(239,207,131,1) 63%, rgb(130, 98, 30) 100%);
}

section {
    padding: 55px 0;
}


#start {
    height: 100vh;
}

#nav-link:hover {
    background-color: rgb(222,209,141);
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}

#main{
margin-top: 150px;
}

#logo{
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

#title {  
    margin: 0 auto;  
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 64px;
}

#desc {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

strong {
    color: #624B1C;
}

#products {
    margin: 25px 0;
}

#section-title {
    background-color: #D4A656;
    text-align: center;
    font-weight: 200;
    letter-spacing: 7px;
    padding: 20px 0px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-img-top {
    height: 300px;
    object-fit: cover;

}

.product-title{
    font-size: 30px;
    font-weight: 200;
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:0;
}

#product-container{
    border: 2px solid rgba(131, 131, 131, 0.443);
    border-radius: 5px;
}


#contact {
    height: 100vh;
}

#about{
    height: 100vh;
}

#redes {
    margin: 0 800px;
}

#red {
    margin: 70px 0;
    text-decoration: none;
    font-size: 30px;
    background-color: #ffb30172;
    border-radius: 20px;
    padding: 15px;

}

i{
    font-size: 30px;
}

#red:first-of-type {
    color: rgb(236, 145, 206);
}

#red:last-of-type {
    color: rgb(83, 237, 83);
}

footer {
    background-color: rgb(36, 36, 36);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 5px 0;
}

#consultas-sugerencias{
    height: 100vh;  
}

#sugerencias-form{
    margin: 0 auto;
    width: 400px;
    padding: 40px;
}

#item{
    margin: 5px;
    text-align: left;
}

input{
    width: 400px;
}

textarea{
    height: 50px;
    width: 400px;
}

#historia{
    font-size: larger;
    font-style: italic;
}

