body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(222,209,141);
    background: linear-gradient(180deg, rgba(222,209,141,1) 0%, rgb(234, 213, 107) 25%, rgba(239,207,131,1) 50%, rgba(222,209,141,1) 100%);
}



.box{
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Nav */
#nav-link:hover {
    background-color: rgba(222, 209, 141, 0.856);
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}


/* Titulos de secciones */
#section-title {
    text-align: center;
    font-weight: 200;
    letter-spacing: 6px;
    padding: 20px 0px;
}



/* Main */
#box1{
    position: relative;
    height: 100vh;
    top: 250px;
}

#logo{
    margin: 0 auto;
    max-width: 150px;
}

#title {  
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 60px;
}

#desc {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}



/* Productos */
#box2{
    height: 100vh;
    margin-top: 255px;
}


.product-title{
    font-size: 30px;
    font-weight: 300;
    display:inline-block;
    border-bottom:1px solid rgba(0, 0, 0, 0.381);
    padding: 0 60px;
}

#product-container{
    border: 2px solid rgba(92, 92, 92, 0.743);
    border-radius: 5px;
}



/* Sobre Nosotros */
#box3{
    margin-top: 67px;
}

#historia{
    font-size: larger;
    font-style: italic;
}

.about-title{
    font-size: 30px;
    font-weight: bolder;
    border-bottom:1px solid black;
    color: rgb(41, 41, 41);
}

#about-container{
    border: 2px solid rgba(92, 92, 92, 0.743);
    border-radius: 5px;
    font-weight: bolder;
}



/* Redes */

#redes {
    margin-top: 100px;
    width: 350px;
}

#red {
    margin-bottom: 150px;
    background-color: rgba(176, 116, 74, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    padding: 10px;
}


#red:first-of-type {
    color: rgb(255, 60, 160);
}

#red:nth-of-type(2) {
    color: rgb(0, 60, 255);
}

#red:last-of-type {
    color: rgb(126, 244, 126);
}

/* Sugerencias */

#sugerencias-form{
    margin: 250px auto;
    max-width: 550px;
    padding: 40px;
    display: inline-block;
    opacity: 0.75;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.533);
}

#item{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 10px;
}


.carousel-item{
    height: 50rem;
    width: 50rem;
    margin: 0 auto;
}

.carousel-img{
    width: 50%;
    height:85%;
    margin: 0 auto;
    border-radius: 25px;
}

.carousel-text{
    color: black;
    width: 50rem;
    margin: 0 auto;

}

.carousel-caption{
    border-radius: 15px;
}


.carta{
    display: inline;
}

@media (max-width: 992px) {

    .carousel-img{
        width: 75%;
        height: 40%;
        margin-top: 100px;
    }

    .carousel-item{
        height: 80vh;
    }
    

    .carousel-text{
        width:10rem;
        height: 8rem;

    }

    .ci{
        padding-top: 200px;
    }

    /* * {
        border: 1px solid blue;
    } */


    #red {
    margin-bottom: 50px;
    background-color: rgba(176, 116, 74, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    padding: 10px;
    }

#sugerencias-form{
    margin: 50px auto;
    max-width: 550px;
    padding: 40px;
    display: inline-block;
    opacity: 0.75;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.533);
    }

}


@media  (max-width: 992px) {
    #title {  
        letter-spacing: 6px;
        font-size: 56px;
    }

    #box1{
        position: relative;
        height: 100vh;
        top: 150px;
    }
}